<div class="header">
    <div class="left">
      <span class="text1">Digital Marketing</span>
      <span class="text2">Work that we produce for our clients</span>
      <span class="text3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard.</span>
      <span class="get" id="btn">Get more details</span>
    </div>
  
    <img class="img1" src="../../assets/home/download10.svg" >
    <img class="img2" src="../../assets/home/download7.svg" >
    <img class="img3" src="../../assets/home/download11.png" >
    <img class="img4" src="../../assets/home/download6.svg" >
    <img class="img5" src="../../assets/home/download3.svg" >
    <img class="img6" src="../../assets/home/download4.svg" >
    <img class="bgimg1" src="../../assets/home/download1.svg">
  
  </div>