<header>
    <div class="header-info">
       <div class="container">
      <span class="navigate">Home > <span class="about">About us</span></span>
      <div class="title">
        Lorem Ipsum is simply  text of the printing and.
      </div>
      <div class="headline">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </div>
      <span class="btn">Get in touch  <img src="../../assets/about/arrow 6.png" alt="arrow"></span>
    </div>
    </div>
    <img src="../../assets/about/homeimg.png" alt="homeimg">
</header>
<div class="card">
<h1>Why work with us</h1>
<div class="cgroup">
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
</div>
</div>
<div class="section1">
    
      <img src="../../assets/about/sectionimg.png" alt="sectionimg">
      <div class="right">
        <h3>Lorem ipsum</h3>
         <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
      </div>
   
</div>
<div class="section2">
  <h1>Our Team</h1>
    <div class="teamcard">
      <app-team-card></app-team-card>
      <app-team-card></app-team-card>
      <app-team-card></app-team-card>
      <app-team-card></app-team-card>
    </div>
</div>
 <div class="section3-back">
<div class="section3">
  <h1>Our Partnership and Collabratiors</h1>
  <div class="companygroup">
    <img src="../../assets/about/c1.png" alt="c1">
    <img src="../../assets/about/c2.png" alt="c2">
    <img src="../../assets/about/c3.png" alt="c3">
    <img src="../../assets/about/c4.png" alt="c4">
    <img src="../../assets/about/c5.png" alt="c5">
  </div>

</div>
</div>
<app-section></app-section>
<app-footer></app-footer>