<nav class="navbar">
    <div class="layer1">
        <span class="address"><img src="../../assets/home/maplogo.svg" alt="maplogo"> Company address</span>
        <span class="mnumber"><img src="../../assets/home/calllogo.svg" alt="calllogo"> +94 000 00000</span>
    </div>
    <div class="layer2">
        <h1 class="logo">LOGO</h1>
        <ul class="menu">
            <li routerLink="/home" routerLinkActive="active" id="home">Home</li>
            <li routerLink="/about" routerLinkActive="active" id="about">About us</li>
            <li id="service">Services</li>
            <li id="news">News</li>
            <li id="contact">Contact us</li>
        </ul>
        <div class="menu-btn">
            <div class="btn-line"></div>
            <div class="btn-line" id="line"></div>
            <div class="btn-line"></div>
          </div>
    </div>
</nav>