<header>
    <app-headerinfo [item]="data"></app-headerinfo>
</header>
<div class="map">
    <img src="../../assets/contact/Huge Global.png" alt="">
</div>
<section>
    <div class="box1">
        <h1>Follow us</h1>
        <img src="../../assets/contact/Vector.png" alt="">
        <img src="../../assets/contact/instagram 1.png" alt="">
        <img src="../../assets/contact/twitter 1.png" alt="">
        <img src="../../assets/contact/linkedin 1.png" alt="">
    </div>
    <div class="vl"></div>
    <div class="box2">
        <img src="../../assets/contact/phone 1.png" alt="">
        <span>+94 0000 00000</span>
    </div>
    <div class="vl"></div>
    <div class="box3">
        <img src="../../assets/contact/gps 1.png" alt="">
        <span>but also the leap into electronic
            typesetting</span>
    </div>
</section>
<div class="formBox">
    <form>
        <div class="title">
            <h1>Say hello</h1>
            <p>Lorem Ipsum is simply dummy text of the printing .</p>
        </div>
        <div class="name">
            <p>
            <label for="fn">First Name</label>
            <input type="text" id="fn"></p>
            <p>
            <label for="ln">Last Name</label>
            <input type="text" id="ln">
        </p>
        </div>
        <label for="email">Email</label>
        <input type="email"  id="email">
        <label for="message">Message</label>
        <textarea  id="message" rows="20"></textarea>
        <button id="btn">Get in touch</button>
    </form>
</div>
<app-section></app-section>
<app-footer></app-footer>