<header>
    <app-headerinfo [item]="data"></app-headerinfo>
     <div class="information">
        <input (mouseover)="hide()" (mouseout)="hide()" type="text">
        <img *ngIf="isShown" src="../../assets/news/search 1.png" id alt="search"> 
        <span *ngIf="isShown">Search</span>
     </div>
</header>
<section>
    <div class="left">
        <app-newscard1 [item]="d" *ngFor="let d of newscard1"></app-newscard1>
    </div>
    <div class="right">
        <app-newscard2 [item]="d" *ngFor="let d of newscard2" ></app-newscard2>
    </div>
</section>
<app-section></app-section>
<app-footer></app-footer>