.section {
    width: 81.25%;
    margin: 75px auto;
}

.section .headtitle {
    height: 129px;
    width: 545px;
}

.section .headtitle h2 {
    font-size: 40px;
    margin-bottom: 27px;
}

.section .headtitle span {
    font-size: 20px;
    color: #666666;
}

.section .box {
    margin-top: 62px;
    display: flex;
    flex-direction: row;
    background-color: #1B1B1B;
    border-radius: 15px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section .box .heading {
    height: 139px;
    width: 409px;
}

.section .box .heading h1,
.desc {
    color: #ffffff;

}

.section .box .input {
    position: relative;
    display: flex;
    align-items: center;
}

.section .box .input input {
    height: 48px;
    width: 385.67px;
    border: none;
    border-radius: 8px;
}

.section .box .input button {
    position: absolute;
    background-color: #DC7000;
    color: #ffffff;
    height: 37px;
    width: 104px;
    border-radius: 8px;
    border: none;
    top: 51px;
    right: 6px;
}

.section .box .input button:hover {
    background-color: black;
    cursor: pointer;
}

@media screen and (max-width:1018px)
{    .section .box .input{
    margin: 10px;
}
    .section .box .input button {
        top: 7px;
    }
}
@media screen and (max-width:530px) {
    .section .headtitle {
        width: 95%;
    }

    .section .headtitle span {
        font-size: 4vw;
    }

    .section .headtitle h2 {
        font-size: 8vw;
    }

    .section .box .heading .title {
        font-size: 7vw;
    }

    .section .box .heading .desc {
        font-size: 3.9vw;
    }

    .box .input button {
        width:30%;
        font-size: 3.5vw;
    }
    .section .box .input{
        width: 90%;
    }
    .section .box .input input{
        width: 100%;
    }
}