<div class="section">
    <div class="headtitle">
        <h2 class="title">Lorem Ipsum</h2>
        <span>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </span>
    </div>
    <div class="box">
        <div class="heading">
            <h1 class="title">
                Stay in the loop
            </h1>
            <span class="desc">
                Subscribe to receive the latest news and updates about TDA.
                We promise not to spam you!
            </span>
        </div>
         <div class="input">
            <input type="email" placeholder="Enter email address" id="">
             <button class="btn">Continue</button>
         </div>
    </div>
</div>