<header>
     <div class="serviceHeader">
        <span class="navigate">Home > <span class="about">Services</span></span>
        <h1>Lorem Ipsum is simply dummy text of the printing and.</h1>
        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>
     </div>
     <div class="information">
        <app-s-card></app-s-card>
        <div class="vl"></div>
        <app-s-card></app-s-card>
        <div class="vl"></div>
        <app-s-card></app-s-card>
     </div>
</header>
<section class="s1">
     <img src="../../assets/services/Hero Video.png" alt="Hero">
      <div class="section">
        <h1>Lorem Ipsum is simply dummy text.</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy .</p>
        <ul>
            <li>Lorem Ipsum is simply</li>
            <li>Lorem Ipsum is simply</li>
            <li>Lorem Ipsum is simply</li>
            <li>Lorem Ipsum is simply</li>
        </ul>
      </div>       
</section>
<section class="s2">
   <div class="left">
      <h1>Lorem Ipsum is simply dummy 
         text dummy text </h1>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
         <span>Read more</span>
   </div>
<img src="../../assets/services/s3.png" alt="s2">
</section>
<section class="s2 new ">
   <img src="../../assets/services/s2.png" alt="s2">
   <div class="left">
      <h1>Lorem Ipsum is simply dummy 
         text dummy text </h1>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
         <span>Read more</span>
   </div>
</section>
<section class="s2">
   <div class="left">
      <h1>Lorem Ipsum is simply dummy 
         text dummy text </h1>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
         <span>Read more</span>
   </div>
<img src="../../assets/services/s4.png" alt="s2">
</section>
<app-section></app-section>
<app-footer></app-footer>