<div class="container">
    <img src="../../assets/news/g1.png" alt="g1">
    <div class="desc">
    <div class="c1">
        <span id="s1">John smash</span>
        <span id="s2">.5min</span>
    </div>
    <h1>Lorem Ipsum is simply dummy text dummy text </h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
</div>
</div>