<app-header></app-header>
<div class="mainsection">
<div class="section1">
  <div class="maintext">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
  <div class="stext">
    <span class="text1">Lorem Ipsum</span>
    <span class="text2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</span>
  </div>
  <app-img></app-img>
</div>
</div>
<div class="section2">
  <div class="textbox">
    <span class="t1">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
    <span class="t2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</span>
  </div>
  <div class="cards">
    <div class="cards1">
      <app-dev-card [item]="d"  *ngFor="let d of devCard1"></app-dev-card>
    </div>
    <div class="cards2">
    <app-dev-card [item]="d"  *ngFor="let d of devCard2"></app-dev-card>
  </div>
</div>
</div>
<div class="section3">
  <div class="headtitle">
    <h2 class="title">Lorem Ipsum</h2>
    <span class="desc">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    </span>
  </div>
  <div class="card-container">
<app-slider></app-slider>
  </div>
</div>
<div class="project-section">
  <div class="textbox">
    <h1 class="t1">Our Recent Projects</h1>
    <span class="t2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
  </div>

  <div class="project-img">
    <div class="imggroup1">
      <img src="../../assets/home/p1.png" >
      <img src="../../assets/home/p2.png" >
      <img id="img3"src="../../assets/home/p3.png" >
    </div>
    <div class="imggroup2">
      <img class="Gimg2" src="../../assets/home/p4.png" >
      <img class="Gimg2" src="../../assets/home/p5.png" >
      <img src="../../assets/home/p6.png" >
    </div>
  </div>
</div>
<div class="section4">
  <img src="../../assets/home/section4img.png">
  <div class="right">
    <h1>Lorem Ipsum is simply dummy 
      text dummy text </h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
      <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>
      <button  id="btn">Read more</button>
  </div>
</div>
<app-section></app-section>
<app-footer></app-footer>